@CHARSET "UTF-8";

.mod_dlstatstatistics_be_table {
	width: 90%;
}

.mod_dlstatstatistics_be_year { 
  width: 50%;
  float:left;
}
.mod_dlstatstatistics_be_year td { 
  padding-left:6px !important;
  padding-right:6px !important;
}

.mod_dlstatstatistics_be_month {
	width:50%;
	float:left;
}
.mod_dlstatstatistics_be_month td { 
  padding-left:6px !important;
  padding-right:6px !important;
}


.mod_dlstatstatistics_be_table_version { 
  margin: 2px 0 !important;
  width: 100%;
  padding: 0;
}

.mod_dlstatstatistics_be_table_version td {
  height:18px;
  padding-left:6px !important;
  padding-right:6px !important;
}

.mod_dlstatstatistics_grey {
	-moz-opacity:0.3;
	opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */	
}

/* Handheld */
@media (max-width:767px) {
	.mod_dlstatstatistics_be_year, .mod_dlstatstatistics_be_month {
		float:none;
		width:auto;
	}
	.mod_dlstatstatistics_be_table {
		width: 100%;
	}
}
