/**
 * Backend stylesheet for dlstats
 */
 
.dlstats-left {
	display:block;
	float:left;
	white-space:nowrap;
}

.dlstats-timestamp {
	width:130px;
} 

.dlstats-downloads {
	width:40px;
	text-align:right;
	padding:0 10px 0 0;
}

.dlstats-ip {
    word-break:break-all; 
    word-wrap:break-word;
    white-space: normal;
	width:280px;
	padding-right: 10px;
}

.dlstats-hostalias {
    word-break:break-all; 
    word-wrap:break-word;
    white-space: normal;
	width:200px;
}

.dlstatdets {
	width: 100%;
} 

.dlstatdetailcontent {
    overflow: hidden;
    padding: 6px;
    position: relative;
    width: 800px;
}

.dlstatdetaillist {
	border-bottom: 1px solid #E9E9E9;
    overflow: hidden;
    padding: 6px;
    position: relative;
    width: 778px;
}

.dlstats-username {
    word-wrap:break-word;
    white-space: normal;
    width: 140px;
}

.dlstats-wb {
	word-break:break-all;
}